
 ██████╗ ██╗  ██╗    ███████╗███╗   ██╗ █████╗ ██████╗ ██╗
██╔═══██╗██║  ██║    ██╔════╝████╗  ██║██╔══██╗██╔══██╗██║
██║   ██║███████║    ███████╗██╔██╗ ██║███████║██████╔╝██║
██║   ██║██╔══██║    ╚════██║██║╚██╗██║██╔══██║██╔═══╝ ╚═╝
╚██████╔╝██║  ██║    ███████║██║ ╚████║██║  ██║██║     ██╗
 ╚═════╝ ╚═╝  ╚═╝    ╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝     ╚═╝
                                                          
CONNECTED TO: {{ ansible_hostname }}
